<<div class="register-container">

    <div class="register-card">

        <h1>Registro de Operador</h1>

        <input 
        type="text"
        placeholder="Nombre"
        [(ngModel)]="nombre"
        maxlength="20"
        >

        <input 
        type="email"
        placeholder="Correo"
        [(ngModel)]="correo"
        maxlength="30"
        >

        <input 
        type="password"
        placeholder="Contraseña"
        [(ngModel)]="password"
        maxlength="16"
        >

        <button (click)="registrar()">
            Crear Cuenta
        </button>

        <div 
        class="users-list"
        *ngIf="usuarios.length > 0">

            <h2>
            Operadores Registrados ({{usuarios.length}})
            </h2>

            <div 
            class="user-card"
            *ngFor="let usuario of usuarios">

                <p>{{usuario.nombre}}</p>
                <p>{{usuario.correo}}</p>

            </div>

        </div>

        <p 
        class="empty-message"
        *ngIf="usuarios.length === 0">

        No hay operadores registrados

        </p>

    </div>

</div>